$main-font-size: 10px;
$main-line-height: 1.428571429;
$body-bg: #fff;
$body-font-color: #424242;
$body-font-size: 1.4rem;
$body-font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;

$layout-gutter: 1rem;

$screen-xs: 480px;
$screen-sm: 600px;
$screen-md: 840px;
$screen-lg: 960px;
$screen-xl: 1280px;

// fresh cut day among others
$hn-main-color: #00a8c6;
$hn-main-secondary-color: lighten($hn-main-color, 35%);
$hn-link-color: #F90;
$hn-meta-color: #aee239;
$hn-border-color: #efefef;
$hn-alert-color-success: #c7f464;
$hn-alert-color-warning: #ff6b6b;
$hn-alert-color-info: #f1efa5;

// Mixins

// Classes for inheritance
.clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}