$overdose: #424242;
$weathered_wing: #E9E9E9;
$vitamin_c: #FF9900;
$steady_grey: lighten(#BCBCBC, 16);

.mdl-layout__header {
  background-color: $overdose;
}

.mdl-mini-footer {
  background-color: $overdose;
}

p {
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: 200;
  line-height: 1.5em;

}

a {
  text-decoration: none;
  color: $vitamin_c;
}

h1, h2, h3, h4, h5, h6 {
  color: $vitamin_c;
}

h1, h2 {
  font-weight: 300;
}

h3, h4 {
  font-weight: 200;
  a {
    font-weight: 200;
    color: lighten($vitamin_c, 10);
  }
}

#hn-about-me {

}

#hn-blog-posts {
    background-color: lighten($weathered_wing, 6);
}

.hn-section--max-width-85 {
    width: 85%;
    max-width: 1200px;
}

.hn-section--padding-50 {
    padding: 50px 0 50px 0;
}

.hn-text--centered {
    text-align: center;
}

.hn-about-me__text {
  font-size: 1.3em;
  font-weight: 100;
}

.hn-text-color--orange {
    color: $vitamin_c;
}

.hn-blog-post {
    width: 100%;
}

.hn-border--color-grey {
  background-color: $steady_grey;
}

.hn-title h3 {
  font-size: 3em;
}

.hn-blog-post__title {
  h3 {
    font-size: 2em;
  }
}

.hn-blog-post__ingress {
  margin: 15px 0;
}

.hn-blog-post__ingress p {
  margin: 10px 0;
}

.hn-blog-post__meta {
  font-size: 0.9em;
}

.hn-blog-post--padding-20-ltr {
  padding: 20px 20px 10px 0;
}

#hn-blog-posts h3 {
  margin-top: 0;
}

.hn-blog-post--color-white {
  background-color: white;
}

.hn-blog-post > .mdl-card__title {
    height: 80px;
    background-color: #f57f17;
}

.hn-blog-post > .mdl-card__title a {
    color: white;
    text-decoration: none;
}

.mdl-layout__header-row > .mdl-layout-title > a {
    color: white;
    text-decoration: none;
}

.portfolio-section--max-width {
    width: 90%;
}

.about-me__card.mdl-card {
    /*width: 320px;*/
    margin: 0 auto;
    float: none;
}

.about-me__card > .mdl-card__title {
    height: 320px;
    color: white;
    background:
            url(/static/img/hakon.jpg) center 10% / cover;
}

.about-me__section {
    width: 90%;
    /*max-width: 1200px;*/
}
