@import "colors";
@import "overrides";

/* ---------------------------------------------------- */

// Defaults
p {
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: 200;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: $orange;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $orange;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1, h2 {
  font-weight: 300;
}

h3, h4, h5, h6 {
  font-weight: 100;
}

/* ---------------------------------------------------- */

// General modifiers
.hn-container--width-85 {
    width: 85%;
    max-width: 1200px;
}

.hn-container--width-75 {
    width: 75%;
    max-width: 768px;
}

.hn-margin-none-tb {
  margin-top: 0;
  margin-bottom: 0;
}

.hn-margin-15-tb {
  margin: 15px 0;
}

.hn-padding-30-vertical {
    padding: 30px 0 30px 0;
}

.hn-padding-50-vertical {
    padding: 50px 0 50px 0;
}

.hn-padding-85-vertical {
    padding: 85px 0 85px 0;
}

.hn-text--centered {
    text-align: center;
}

.hn-text--left {
    text-align: left;
}

.hn-text--right {
    text-align: right;
}

.hn-text--italic {
  font-style: italic;
}

/* ---------------------------------------------------- */

// Navbar
.hn-header__lock {
  line-height: 1;
  vertical-align: middle;
}

/* ---------------------------------------------------- */

// Authentication / Login
#hn-login {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 310px;
  width: 100%;
}

.hn-login__title {
  margin-top: 0;
}

/* ---------------------------------------------------- */

// About Me
.hn-about-me__text {
  font-size: 1.3em;
}

#hn-about-me__card {
  width: 100%;
}

#hn-about-me__card > .mdl-card__title {
    height: 320px;
    color: white;
    background: url("/static/img/hakon.jpg") center 10% / cover;
}

/* ---------------------------------------------------- */

// Weather Cards
.hn-weather__card {
    width: 100%;
}

.hn-weather__card > .mdl-card__title {
    align-items: flex-end;
    height: 256px;
    color: white;
    background: url("/static/img/trondheim.jpg") center / cover;
    opacity: 0.92;
}

/* ---------------------------------------------------- */

// Borders
.hn-border--color-grey {
  background-color: $light_grey;
}

.hn-border--color-black {
  background-color: $grey;
}

.hn-border--color-error {
  background-color: $cherry_pink;
  h5 {
    color: white;
  }
}

.hn-border--color-success {
  background-color: $apple;
  h5 {
    color: $grey;
  }
}

/* ---------------------------------------------------- */

// Blog
#hn-blog-posts {
  background-color: lighten($weathered_wing, 6);
}

.hn-blog-post {
  width: 100%;
  margin-bottom: 40px;
}

.hn-blog-post__title {
  .hn-blog-post__title-text {
    margin: 0;
  }
  h3.hn-blog-post__title-text {
    font-size: 2.5em;
  }
}

.hn-blog-post__meta {
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 15px;
}

.hn-blog-post__ingress {
  margin-top: 20px;
  font-style: italic;
}

.hn-blog-post__content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.hn-tag {
  border: none;
  border-radius: 2px;
  height: 18px;
  margin: 0;
  min-width: 50px;
  padding: 0 5px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
}

.hn-tag--color-orange {
  background: $orange;
  color: white;
}







/* ---------------------------------------------------- */

// TODO: CLEAN CSS AND TEMPLATES FOR FOOD
// Food
#hn-food-list {
  width: 100%;
  margin-top: -16px;
  padding-top: 0;
}

.hn-food-stats {
  overflow: auto;
  margin-bottom: 10px;
  padding: 0 16px 16px 16px;
  height: 100%;
  text-align: right;
}

.hn-food-stats__icon {
  display: inline-block;
  margin-left: 10px;
  >i {
    font-size: 48px;
    line-height: 48px;
  }
}

.hn-food-stats__detail-text {
  font-size: 2em;
  font-weight: 300;
  color: $orange;
}

.hn-food-stats__header-text {
  font-weight: 300;
}

.hn-food-stats__details {
  display: inline-block;
}

.hn-food__meal-form {
  padding-top: 15px;

  label {
    font-weight: 300;
    line-height: 20px;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }
  label:not(:first-of-type) {
      margin-left: 10px;
  }
  select {
    margin-right: 10px;
  }
  .hn-food__meal-inline-form {
    margin-bottom: 20px;
  }
  .mdl-checkbox {
    display: inline-block;
    width: auto;
  }
}

.hn-food__meal-form-error {
  color: $cherry_pink;
  font-weight: 500;
  margin-top: 5px;
}

.recipe-select2 {
  width: 350px;
}

.day-select2 {
  width: 150px;
}

.hn-food-card {
  .mdl-card__title {
    color: $orange;
    background-color: $light_grey;
  }
  .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }
}

#hn-food-stats-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.hn-food-stats-card {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  div:first-child {
    display: inline-block;
  }
}

.hn-food-stats-card__icon {
  font-size: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin-right: 15px;
  display: inline-block;
}

.hn-food-stats-card__text {
  vertical-align: bottom;
  display: inline-block;
}

.hn-food-stats-card__text-large {
  display: block;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 5px;
}

.hn-food-stats-card__text-little {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

#hn-food__add-plan {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  margin-right: 40px;
  margin-top: 220px;
  z-index: 1000;
}

#hn-food__edit-plan {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  margin-right: 40px;
  margin-top: 290px;
  z-index: 1000;
}

#hn-food-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border-spacing: 10px;

  thead {
    border-bottom: 1px solid $light_grey;
    text-align: left;
    th {
      padding: 10px 0;
    }
  }
  tbody {
    td {
      height: 40px;
      a {
        color: $grey;
      }
    }
  }
}

/* ---------------------------------------------------- */

// Media Queries
//  Tablet
@media (max-width: 839px) and (min-width: 480px) {
}

//  Phone
@media (max-width: 479px) {
}