// Gamebookers palette

$grey: #424242;
$weathered_wing: #E9E9E9;
$orange: #FF9900;
$light_grey: lighten(#BCBCBC, 16);
$apple: #C7F464;
$cherry_pink: #FF6B6B;

.mdl-layout__header {
  background-color: $grey;
}

.mdl-mini-footer {
  background-color: $grey;
}

.mdl-layout__header-row > .mdl-layout-title > a {
    color: white;
    text-decoration: none;
}

.mdl-navigation__link:hover {
    background-color: lighten($grey, 5);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link--current {
  background-color: #e0e0e0;
  color: #757575;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #e0e0e0;
}

p {
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: 200;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: $orange;
}

h1, h2, h3, h4, h5, h6 {
  color: $orange;
}

h1, h2 {
  font-weight: 300;
}

h3, h4 {
  font-weight: 200;
  a {
    font-weight: 200;
    color: lighten($orange, 10);
  }
}

#hn-login {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 310px;
  width: 100%;
}

.hn-login__title {
  margin-top: 0;
}

.hn-border--color-grey {
  background-color: $light_grey;
}

.hn-border--color-black {
  background-color: $grey;
}

.hn-border--color-error {
  background-color: $cherry_pink;
  h5 {
    color: white;
  }
}

.hn-border--color-success {
  background-color: $apple;
  h5 {
    color: $grey;
  }
}

#hn-blog-posts {
    background-color: lighten($weathered_wing, 6);
}

.hn-container--max-width-85 {
    width: 85%;
    max-width: 1200px;
}

.hn-container--max-width-75 {
    width: 75%;
    max-width: 768px;
}

.hn-padding-30-vertical {
    padding: 30px 0 30px 0;
}

.hn-padding-50-vertical {
    padding: 50px 0 50px 0;
}

.hn-padding-85-vertical {
    padding: 85px 0 85px 0;
}

.hn-text--centered {
    text-align: center;
}

.hn-text--left {
    text-align: left;
}

.hn-text--right {
    text-align: right;
}

.hn-about-me__text {
  font-size: 1.3em;
  font-weight: 100;
}

.hn-text-color--orange {
    color: $orange;
}

.hn-blog-post {
    width: 100%;
}

.hn-title h3 {
  font-size: 3em;
}

.hn-text--italic {
  font-style: italic;
}

.hn--margin-none-tb {
  margin-top: 0;
  margin-bottom: 0;
}

.hn--margin-15-tb {
  margin: 15px 0;
}

.hn-blog-post__title {
  h3 {
    font-size: 2em;
  }
}

.hn-blog-post__ingress p {
  margin: 10px 0;
}

.hn-blog-post__meta {
  font-size: 0.9em;
}

.hn-blog-post__meta--text {

}

.hn-blog-post__content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.hn-blog-post--padding-20-ltr {
  padding: 20px 20px 10px 0;
}

.hn-blog-post--color-white {
  background-color: white;
}

.hn-blog-post > .mdl-card__title {
    height: 80px;
    background-color: #f57f17;
}

.hn-blog-post > .mdl-card__title a {
    color: white;
    text-decoration: none;
}

.hn-about-me__card {
  width: 100%;
}

.hn-about-me__card > .mdl-card__title {
    height: 320px;
    color: white;
    background: url("/static/files/hakon.jpg") center 10% / cover;
}

.hn-weather__card {
    width: 100%;
}

.hn-weather__card > .mdl-card__title {
    align-items: flex-end;
    height: 256px;
    color: white;
    background: url("/static/files/trondheim.jpg") center / cover;
    opacity: 0.92;

}

.hn-bus-card__lerkendal {
  width: 100%;
}

.hn-bus-card__lerkendal > .mdl-card__title {
  align-items: flex-end;
    height: 256px;
    color: white;
    background: url("/static/files/lerkendal.jpg") center / cover;
    opacity: 0.92;
}

.hn-bus-card__tempe {
  width: 100%;
}

.hn-bus-card__tempe > .mdl-card__title {
    align-items: flex-end;
    height: 256px;
    color: white;
    background: url("/static/files/tempekirke.jpg") center / cover;
    opacity: 0.92;
}

.hn-tag {
  border: none;
  border-radius: 2px;
  height: 18px;
  margin: 0;
  min-width: 50px;
  padding: 0 5px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
}

.hn-tag--color-orange {
  background: $orange;
  color: white;
}

.hn-header__lock {
  line-height: 1;
  vertical-align: middle;
}

#hn-food-list {
  width: 100%;
  margin-top: -16px;
  padding-top: 0;
}

.hn-food-stats {
  overflow: auto;
  margin-bottom: 10px;
  padding: 0 16px 16px 16px;
  height: 100%;
  text-align: right;
}

.hn-food-stats__icon {
  display: inline-block;
  margin-left: 10px;
  >i {
    font-size: 48px;
    line-height: 48px;
  }
}

.hn-food-stats__detail-text {
  font-size: 2em;
  font-weight: 300;
  color: $orange;
}

.hn-food-stats__header-text {
  font-weight: 300;
}

.hn-food-stats__details {
  display: inline-block;
}

.hn-food__meal-form {
  padding-top: 15px;

  label {
    font-weight: 300;
    line-height: 20px;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }
  label:not(:first-of-type) {
      margin-left: 10px;
  }
  select {
    margin-right: 10px;
  }
  .hn-food__meal-inline-form {
    margin-bottom: 20px;
  }
  .mdl-checkbox {
    display: inline-block;
    width: auto;
  }
}

.hn-food__meal-form-error {
  color: $cherry_pink;
  font-weight: 500;
  margin-top: 5px;
}

.recipe-select2 {
  width: 350px;
}

.day-select2 {
  width: 150px;
}

.hn-food-card {
  .mdl-card__title {
    color: $orange;
  }
  .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }
}

#hn-food-stats-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.hn-food-stats-card {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  div:first-child {
    display: inline-block;
  }
}

//.hn-food-cost:not(:first-of-type) {
//  margin-top: 15px;
//}

.hn-food-stats-card__icon {
  font-size: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin-right: 15px;
  display: inline-block;
}

.hn-food-stats-card__text {
  vertical-align: bottom;
  display: inline-block;
}

.hn-food-stats-card__text-large {
  display: block;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 5px;
}

.hn-food-stats-card__text-little {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

#hn-food__add-plan {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  margin-right: 40px;
  margin-top: 85px;
  z-index: 1000;
}

#hn-food__edit-plan {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  margin-right: 40px;
  margin-top: 150px;
  z-index: 1000;
}

#hn-food-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border-spacing: 10px;

  thead {
    border-bottom: 1px solid $light_grey;
    text-align: left;
    th {
      padding: 10px 0;
    }
  }
  tbody {
    td {
      height: 40px;
    }
  }
}


@media (max-width: 839px) and (min-width: 480px) {
//  Tablet
}

@media (max-width: 479px) {
//  Phone
}