logs/*.log*
static/*
dev.db
.idea/*
__pycache__/
*.pyc
bin/
include/
lib/
.Python
pip-selfcheck.json
env/*
node_modules/*
hakloevno/settings/prod.py
hakloevno/settings/staging.py
files/dist/*
files/static/files/varsel.xml
files/static/components/*
