{% extends 'base.html' %}

{% block content %}
     <section class="hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                {% if plan %}
                    <h1>edit plan: week {{ plan.week }}</h1>
                {% else %}
                    <h1>create plan</h1>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="hn-padding-50-vertical">
        <div class="mdl-grid hn-container--max-width-85">
            <div class="mdl-cell--12-col">
                 <form method="post">
                     {% csrf_token %}
                     {% for field in form %}
                         <div>
                            <div class="mdl-textfield mdl-js-textfield">
                                {{ field }}
                                <label class="mdl-textfield__label" for="{{ field.name }}">{{ field.name }}</label>
                            </div>
                         </div>
                     {% endfor %}
{#                   {{ form }}#}
                     {{ formset.management_form }}
                     <div class="meals">
                         {% for meal_form in formset %}
                             <div id="item-{{ forloop.counter0 }}">
                             {% for field in meal_form %}
                                 {% if forloop.counter0 == 3 %}
                                     {{ field.form.errors }}
                                     <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ field.id_for_label }}">
                                        {{ field }}
                                        <span class="mdl-checkbox__label">{{ field.name }}</span>
                                     </label>
                                 {% else %}
                                     {{ field }}
                                 {% endif %}
                             {% endfor %}
                             </div>
                        {% endfor %}
                     </div>
                     <div class="form-actions">
                        {% if formset|length < 7 %}
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored add-meal">Add Meal</button>
                        {% endif %}
                        {% if plan %}
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Update Plan</button>
                        {% else %}
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Create Plan</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}