{% extends 'base.html' %}

{% block content %}
     <section class="hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                {% if plan %}
                    <h1>edit plan: week {{ plan.week }}</h1>
                {% else %}
                    <h1>create plan</h1>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="hn-padding-50-vertical" id="hn-food">
        <div class="mdl-grid hn-container--max-width-85">
            <div class="mdl-cell--12-col">
                 <form method="POST">
                     {% csrf_token %}
                     {{ formset.management_form }}
                     {% for field in form %}
                         <div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                {{ field }}
                                <label class="mdl-textfield__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                         </div>
                     {% endfor %}
                     <div class="hn-food__meal-form">
                        <table id="hn-food-table">
                            <thead>
                                <th>Recipe</th>
                                <th>Day</th>
                                <th>Eaten</th>
                            </thead>
                            <tbody class="hn-food-table__body">
                                {% for meal_form in formset.forms %}
                                    <tr id="item-{{ forloop.counter0 }}" class="">
                                    {% for hidden in meal_form.hidden_fields %}
                                         {{ hidden }}
                                    {% endfor %}
                                    {% for field in meal_form.visible_fields %}
                                        <td>
                                         {% if forloop.counter0 == 2 %}
                                             <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ field.id_for_label }}">
{#                                                <span class="mdl-checkbox__label">{{ field.name }}</span>#}
                                                {{ field }}
                                             </label>
                                         {% else %}
{#                                             {{ field.label_tag }}#}
                                             {{ field }}
                                         {% endif %}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                    {% if meal_form.non_field_errors %}
                                         <p class="hn-food__meal-form-error">{{ meal_form.non_field_errors.as_text }}</p>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                     </div>
                     <div class="form-actions">
                        {% if formset|length < 7 %}
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored add-meal">Add Meal</button>
                        {% endif %}
                        {% if plan %}
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Update Plan</button>
                        {% else %}
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Create Plan</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}