{% extends 'base.html' %}

{% block content %}
     <section class="mdl-grid hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-cell--12-col">
            <h1>dinner plan: week {{ plan.week }}</h1>
        </div>
    </section>
    <section class="mdl-grid hn-container--width-85 hn-padding-85-vertical" id="hn-food">
        {% for meal in plan.items.all %}
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone hn-food-card">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ meal.get_day_display }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{ meal.recipe.title }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="{{ meal.recipe.url }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect {% if meal.eaten %}mdl-button--disabled{% endif %}">Recipe</a>
            </div>
        </div>
        {% endfor %}
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__supporting-text mdl-card--expand" id="hn-food-stats-card">
                <div class="hn-food-stats-card">
{#                    <div>#}
{#                        <i class="material-icons hn-food-stats-card__icon">attach_money</i>#}
{#                    </div>#}
                    <div class="hn-food-stats-card__text">
                        <span class="hn-food-stats-card__text-large">
                            {{ plan.cost|floatformat:2 }} kr
                        </span>
                        <span class="hn-food-stats-card__text-little">cost</span>
                    </div>
                </div>
                <div class="hn-food-stats-card">
{#                    <div>#}
{#                        <i class="material-icons hn-food-stats-card__icon">trending_up</i>#}
{#                    </div>#}
                    <div class="hn-food-stats-card__text">
                        <span class="hn-food-stats-card__text-large">
                            {{ average_cost|floatformat:2 }} kr
                        </span>
                        <span class="hn-food-stats-card__text-little">average cost</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if user.is_authenticated %}
    <a href="{% url 'food:plan_create' %}" id="hn-food__add-plan" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--left" for="hn-food__add-plan">
        add new plan
    </div>
     <a href="{% url 'food:plan_create' %}" id="hn-food__edit-plan" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">mode_edit</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--left" for="hn-food__edit-plan">
        edit this plan
    </div>
    {% endif %}
{% endblock %}