{% extends 'base.html' %}

{% block content %}
    <section class="hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                <h1>dinner plan: week {{ plan.week }}</h1>
            </div>
        </div>
    </section>
    <section class="hn-padding-50-vertical">
        <div class="mdl-grid hn-container--max-width-85">
            <div class="mdl-cell mdl-cell--12-col">
                <ul class="mdl-list" id="hn-food-list">
                    {% for meal in plan.items.all %}
                        <li class="mdl-list__item mdl-list__item--two-line">
                            <span class="mdl-list__item-primary-content">
                                <span>{{ meal.get_day_display }}</span>
                                <span class="mdl-list__item-sub-title"><a href="{{ meal.recipe.url }}" target="_blank">{{ meal.recipe.title }}</a></span>
                            </span>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="id_meal-checkbox-{{ meal.pk }}">
                                    <input type="checkbox" id="id_meal-checkbox-{{ meal.pk }}" class="mdl-checkbox__input meal-checkbox" {% if meal.eaten %}checked{% endif %} />
                                </label>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'food:plan_edit' year=plan.year week=plan.week %}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Edit Plan</a>
            </div>
        </div>
    </section>
{% endblock %}