{% extends 'base.html' %}

{% block content %}
    <section class="hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                <h1>dinner plan: week {{ plan.week }}</h1>
            </div>
        </div>
    </section>
    <section class="hn-padding-50-vertical">
        <div class="mdl-grid hn-container--max-width-85">
            <div class="mdl-cell mdl-cell--12-col">
                {% if not_added|length > 0 %}
                    Missing days: {{ not_added }}
                    <a href="{% url 'food:plan_edit' year=plan.year week=plan.week %}">Edit</a>
                {% endif %}
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Day</th>
                            <th class="mdl-data-table__cell--non-numeric">Meal</th>
                            <th class="mdl-data-table__cell--non-numeric">Eaten</th>
                            <th class="mdl-data-table__cell--non-numeric">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for meal in plan.items.all %}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">{{ meal.get_day_display }}</td>
                                <td class="mdl-data-table__cell--non-numeric"><a href="{{ meal.recipe.url }}" target="_blank">{{ meal.recipe.title }}</a></td>
                                <td class="mdl-data-table__cell--non-numeric">{{ meal.eaten }}</td>
                                <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'food:plan_item_edit' year=object.year week=object.week day=meal.day %}">Edit</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}