{% extends 'base.html' %}

{% block content %}
     <section class="mdl-grid hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-cell mdl-cell--12-col">
            {% if recipe %}
                <h1>edit recipe</h1>
            {% else %}
                <h1>create recipe</h1>
            {% endif %}
        </div>
    </section>
    <section class="hn-padding-50-vertical" id="hn-food">
        <div class="mdl-grid hn-container--width-85">
            <div class="mdl-cell--12-col">
                 <form method="POST">
                 {% csrf_token %}
                 {% for field in form %}
                     <div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ field }}
                            <label class="mdl-textfield__label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        </div>
                     </div>
                {% endfor %}
                {% if recipe %}
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Update Recipe</button>
                {% else %}
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Create Recipe</button>
                {% endif %}
                </form>
            </div>
        </div>
    </section>
{% endblock %}