{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Oh shit! Word?! Shit you care about but probably shouldn't.">
        <meta name="author" content="Oh shit! Word?!">
        <link href="blog/feed/" rel="alternate" type="application/rss+xml" title="Hakloev Blog Feed" >
		<!-- Title -->
        <title>{% block title %}{% endblock %}</title>
        <!-- Styles -->
        {% block css %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
            <link href="{% static 'vendor/css/material.min.css' %}" rel="stylesheet" />
            <link href="{% static 'css/hakloevno.min.css' %}" rel="stylesheet" />
        {% endblock %}
        <!-- JavaScript -->
		{% block head_js %}
            <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
{#            <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>#}
        {% endblock %}
	</head>
	<body class="mdl-color--white">
        <div class="mdl-layout__container">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded">
            {% include 'navbar.html' %}
            <main class="mdl-layout__content">
                {% block message_block %}
                    {% if messages %}
                        {% for message in messages %}
                            <section class="hn-alert hn-border--color-{{ message.tags }} hn-text--centered" id="hn-border">
                                <div class="mdl-grid">
                                    <div class="mdl-cell--12-col">
                                        <h5>{{ message }}<span style="float:right" class="hn-alert-dismiss">close</span></h5>
                                    </div>
                                </div>
                            </section>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            {% include 'footer.html' %}
            </main>
            </div>
        </div>
        <!-- JavaScript -->
		{% block footer_js %}
            <script src="{% static 'vendor/js/select2.full.min.js' %}"></script>
            <script src="{% static 'vendor/js/highlight.pack.min.js' %}"></script>
            <script src="{% static 'vendor/js/moment-with-locales.min.js' %}"></script>
            <script src="{% static 'vendor/js/underscore-min.js' %}"></script>
{#            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.js"></script>#}
{#            <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>#}
{#            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>#}
            <script src="{% static 'vendor/js/material.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'js/hakloevno.min.js' %}" type="text/javascript"></script>
        {% endblock %}
	</body>
</html>