<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">hakloev.no</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="https://github.com/hakloev" target="_blank" title="View my repos at GitHub"><i class="fa fa-github fa-2x hn-social-icon"></i></a></li>
            <li><a href="https://twitter.com/hakloevdal" target="_blank" title="View my Twitter profile"><i class="fa fa-twitter fa-2x hn-social-icon"></i></a></li>
            <li><a href="https://no.linkedin.com/in/hakloev" target="_blank" title="View mye LinkedIn profile"><i class="fa fa-linkedin fa-2x hn-social-icon"></i></a></li>
        </ul>
    </div>
</footer>