{% extends "base.html" %}

{% block title %}hakloev.no{% endblock %}

{% block content %}
    <section class="mdl-grid hn-section--max-width-85 hn-section--padding-50" id="hn-about-me">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--middle hn-text--centered">
            <p class="hn-about-me__text">I'm a computer science student at NTNU, but usually I just wander around acting like a boss and a structured procrastinator. This page is intended to be a playground for learning web technologies as well as documenting stuff I learn and/or want to remember. Feel free to look around!</p>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--middle">
            <div class="about-me__card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Håkon Ø. Løvdal</h2>
                </div>
{#                <div class="mdl-card__supporting-text">#}
{#                </div>#}
            </div>
        </div>
    </section>
    <section class="hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                <h1>latest blog posts</h1>
            </div>
        </div>
    </section>
    <section class="hn-section--padding-50" id="hn-blog-posts">
        <div class="mdl-grid hn-section--max-width-85">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-grid mdl-grid--no-spacing">
                        {% for entry in blog_entries %}
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="hn-blog-post hn-blog-post--padding-20-ltr">
                                    <div class="hn-blog-post__title">
                                        <h3 class=""><a href="{% url 'blog:blog_post' slug=entry.slug %}">{{ entry.title }}</a></h3>
                                    </div>
                                    <div class="hn-blog-post__meta">
                                        <span><i>Written on {{ entry.created | date:"d. M Y H:i" }}</i></span>
                                    </div>
                                    <div class="hn-blog-post__ingress--margin-15-tb">
                                        <p>{{ entry.ingress }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <!-- Here be dragons -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

