{% extends "base.html" %}

{% block title %}hakloev.no{% endblock %}

{% block content %}
    <div class="cells">
        <div class="cell cell-12">
            <div class="cells">
                <div class="cell cell-6">
                    <p class="hn-about-me__text">I'm a computer science student at NTNU, but usually I just wander around acting like a boss and a structured procrastinator. This page is intended to be a playground for learning web technologies as well as documenting stuff I learn and/or want to remember. Feel free to look around!</p>
                </div>
                <div class="cell cell-6">
                    <p>IMAGE/CARD</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cells">
        <div class="cell cell-12">
            <h1>BOARDER</h1>
        </div>
    </div>
    <div class="cells">
        <div class="cell cell-4">
            <p>The latest meal is:</p>
            <p>KYLLING</p>
        </div>
        <div class="cell cell-4">
            <h1>weather</h1>
            <span class="hn-weather__card-element" id="hn-weather-temperature"></span>
            <span class="hn-weather__card-element" id="hn-weather-wind"></span>
            <span class="hn-weather__card-element" id="hn-weather-precipitation"></span>
            <span class="hn-weather__card-element" id="hn-weather-forecast"></span>
        </div>
        <div class="cell cell-4">
            <h1>bus</h1>
        </div>
    </div>
     <div class="cells">
        <div class="cell cell-12">
            <h1>latest blog posts</h1>
        </div>
    </div>
    <div class="cells">
        <div class="cell cell-12">
                 {% for entry in blog_entries %}
                    <div class="hn-blog-post">
                        <div class="hn-blog-post__title">
                            <h3 class="hn-blog-post__title-text"><a href="{% url 'blog:blog_post' slug=entry.slug %}">{{ entry.title }}</a></h3>
                        </div>
                        <div class="hn-blog-post__meta">
                            <span class="hn-blog-post__meta--text"><i>Written on {{ entry.created | date:"d. M Y H:i" }}</i></span>
                        </div>
                        <div class="hn-blog-post__ingress">
                            <p>{{ entry.ingress }}</p>
                        </div>
                    </div>
                 {% endfor %}
        </div>
    </div>
{% endblock %}

