{% extends "base.html" %}
{% load static %}

{% block title %}hakloev.no{% endblock %}

{% block content %}
    <div class="grid grid-85 pad-vertical-50">
        <div class="cell cell-sm-12 cell-md-6 cell-8 cell-middle">
            <p id="about-me-text">I'm a computer science student at NTNU, but usually I just wander around acting like a boss and a structured procrastinator. This page is intended to be a playground for learning web technologies as well as documenting stuff I learn and/or want to remember. Feel free to look around!</p>
        </div>
        <div class="cell cell-sm-12 cell-md-6 cell-4">
            <div class="card" id="about-me-card">
                <div class="card-image"></div>
                <div class="card-header">
                    <h4 class="card-title">Håkon Ødegård Løvdal</h4>
                    <h6 class="card-subtitle">Developer</h6>
                </div>
{#                <div class="card-body">#}
{#                    I'm the boss!#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="grid border">
        <div class="cell cell-12">
            <h1>weather</h1>
        </div>
    </div>
    <div class="grid grid-85 pad-vertical-50">
{#            <div class="cell cell-4">#}
{#                <p>The latest meal is:</p>#}
{#                <p>KYLLING</p>#}
{#            </div>#}
            <div class="cell cell-12">
                <div class="card" id="weather-card">
                    <div class="card-body">
                        <span class="weather-element" id="hn-weather-temperature"></span>
                        <span class="weather-element" id="hn-weather-wind"></span>
                        <span class="weather-element" id="hn-weather-precipitation"></span>
                    </div>
                    <div class="card-footer">
                        <h4 class="card-title">Trondheim</h4>
                        <h6 class="card-subtitle" id="hn-weather-forecast"></h6>
                    </div>
                </div>
            </div>
{#            <div class="cell cell-4">#}
{#                <h1>bus</h1>#}
{#            </div>#}
    </div>
    <div class="grid border">
            <div class="cell cell-12">
                <h1>latest blog posts</h1>
            </div>
    </div>
    <div class="grid grid-85 pad-vertical-50">
        <div class="cell cell-12">
             {% for entry in blog_entries %}
                <div class="hn-blog-post">
                    <div class="hn-blog-post__title">
                        <h3 class="hn-blog-post__title-text"><a href="{% url 'blog:blog_post' slug=entry.slug %}">{{ entry.title }}</a></h3>
                    </div>
                    <div class="hn-blog-post__meta">
                        <span class="hn-blog-post__meta--text"><i>Written on {{ entry.created | date:"d. M Y H:i" }}</i></span>
                    </div>
                    <div class="hn-blog-post__ingress">
                        <p>{{ entry.ingress }}</p>
                    </div>
                </div>
             {% endfor %}
        </div>
    </div>
{% endblock %}

