<header class="navbar">
    <section class="navbar-navigation">
        <a href="#" class="navbar-brand">hakloev.no</a>
    </section>
    <section class="navbar-navigation">
        <a class="btn {% if '/blog/' in request.path %}navigation-link-current{% endif %}" href="{% url 'blog:index' %}">blog</a>
        <a class="btn {% if '/food/' in request.path %}navigation-link-current{% endif %}" href="{% url 'food:index' %}">food</a>
        {% if user.is_authenticated %}
            <a class="btn" href="/admin/">admin</a>
            <a class="btn" href="{% url 'auth:logout' %}"><i class="fa fa-unlock"></i></a>
        {% else %}
            <a class="btn" href="{% url 'auth:login' %}"><i class="fa fa-lock"></i></a>
        {% endif %}
    </section>
</header>