{% extends 'base.html' %}
{% load django_markdown %}

{% block content %}
     <section class="hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                <h1>{{ object.title }}</h1>
            </div>
        </div>
    </section>
    <section class="hn-section--padding-50">
        <div class="mdl-grid hn-section--max-width-85">
            <div class="mdl-cell mdl-cell--12-col">
                <p>{{ object.ingress }}</p>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                {{ object.body | markdown }}
            </div>
        </div>
    </section>

{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}