{% extends 'base.html' %}
{% load django_markdown %}

{% block title %}
    {{ block.super }}
    - {{ object.title }}
{% endblock %}

{% block content %}
    <section class="grid border">
        <div class="cell cell-12">
            <h1>{{ object }}</h1>
        </div>
    </section>
    <section class="grid grid-85">
        <div class="cell cell-12">
            {% for tag in object.tags.all %}
                <a href="{% url 'blog:tag_details' tag=tag.slug %}" class="">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="cell cell-12">
            <div class="">
                <span class=""><i>Written on {{ object.created | date:"d. M Y H:i" }}</i></span>
            </div>
            <div class="">
                <p>{{ object.ingress }}</p>
            </div>
            <div class="">
                {{ object.body | markdown }}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}