{% extends 'base.html' %}
{% load django_markdown %}

{% block title %}
    {{ block.super }}
    - {{ object.title }}
{% endblock %}

{% block content %}
     <section class="hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                <h1>{{ object.title }}</h1>
            </div>
        </div>
    </section>
    <section class="hn-section--padding-30-vertical">
        <div class="mdl-grid hn-section--max-width-85">
            <div class="mdl-cell mdl-cell--12-col">
                {% for tag in object.tags.all %}
                    <a href="{% url 'blog:tag_details' tag=tag.slug %}" class="hn-tag mdl-button--raised hn-tag--color-orange">{{ tag }}</a>
                {% endfor %}
            </div>
            <hr>
            <div class="mdl-cell mdl-cell--12-col hn-blog-post__ingress">
                <p class="hn-text--italic">{{ object.ingress }}</p>
            </div>
            <div class="mdl-cell mdl-cell--12-col hn-blog-post__content">
                {{ object.body | markdown }}
            </div>
        </div>
    </section>

{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}