{% extends 'base.html' %}
{% load django_markdown %}

{% block title %}
    {{ block.super }}
    - blog posts
{% endblock %}

{% block content %}
    <section class="grid border">
        <div class="cell cell-12">
            <h1>posts</h1>
        </div>
    </section>
    <section class="grid grid-85">
        <div class="cell cell-12">
            {% for entry in object_list %}
            <div class="hn-blog-post">
                <div class="hn-blog-post__title">
                    <h3 class="hn-blog-post__title-text"><a href="{% url 'blog:blog_post' slug=entry.slug %}">{{ entry.title }}</a></h3>
                </div>
                <div class="hn-blog-post__meta">
                    <span class="hn-blog-post__meta--text"><i>Written on {{ entry.created | date:"d. M Y H:i" }}</i></span>
                </div>
                <div class="hn-blog-post__ingress">
                    <p>{{ entry.ingress }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}