{% extends 'base.html' %}
{% load django_markdown %}

{% block title %}
    {{ block.super }}
    - blog posts
{% endblock %}

{% block content %}
    <section class="hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col">
                <h1>latest blog posts</h1>
            </div>
        </div>
    </section>
    <section class="hn-padding-50-vertical" id="hn-blog-posts">
        <div class="mdl-grid hn-container--max-width-85">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-grid mdl-grid--no-spacing">
                        {% for entry in object_list %}
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="hn-blog-post hn-blog-post--padding-20-ltr">
                                    <div class="hn-blog-post__title">
                                        <h3 class="hn--margin-none-tb"><a href="{% url 'blog:blog_post' slug=entry.slug %}">{{ entry.title }}</a></h3>
                                    </div>
                                    <div class="hn-blog-post__meta">
                                        <span class="hn-blog-post__meta--text"><i>Written on {{ entry.created | date:"d. M Y H:i" }}</i></span>
                                    </div>
                                    <div class="hn-blog-post__ingress">
                                        <p>{{ entry.ingress }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <!-- Here be dragons -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}