{% extends 'base.html' %}

{% block content %}
     <section class="mdl-grid hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-cell--12-col">
            <h1>{{ tag }}</h1>
        </div>
    </section>
    <section class="hn-padding-50-vertical">
        <div class="mdl-grid hn-container--max-width-85">
            <div class="mdl-cell mdl-cell--12-col">
                {% for object in object_list %}
                    {{ object.title }}
                {% endfor %}
                <br>all blog posts for tag here
            </div>
        </div>
    </section>
{% endblock %}