{% extends 'base.html' %}

{% block content %}
    <section class="mdl-grid hn-border--color-grey hn-text--centered" id="hn-border">
        <div class="mdl-cell--12-col">
            <h1>login</h1>
        </div>
    </section>
    <section class="mdl-grid" id="hn-login">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--middle">
            <h3 class="hn-login__title">enter credentials:</h3>
            <form method="POST" action="{% url 'auth:login' %}">
                <div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" name="username" id="username" />
                        <label class="mdl-textfield__label" for="username">Username</label>
                    </div>
                </div>
                <div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" name="password" id="pasword" />
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                {% csrf_token %}
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-color--orange">Log in</button>
            </form>
        </div>
    </section>
{% endblock %}